"*":
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "atom-file-icons"
      "autocomplete-plus"
      "autocomplete-html"
      "livereload"
      "atom-live-server"
      "vk-terminal"
      "autocomplete-snippets"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dark-one-dark-syntax"
    ]
    uriHandlerRegistration: "never"
  editor:
    defaultFontSize: 12
    fontSize: 11
    showIndentGuide: true
  "exception-reporting":
    userId: "c0960b27-5efb-44b6-a6d7-0227e109cfeb"
  "one-dark-ui":
    fontSize: 11
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  welcome:
    showOnStartup: false
